.md-source__repository{
    display: none
}

.highlight .n {
  color: #ff76c8;
}

.highlight .c1 {
  color: #339b7d;
}

[data-md-color-scheme="default"] {
  .highlight .n {
    color: #ff1ea5;
  };
  .highlight .s {
    color: #00a151
  };
  .highlight .c1 {
    color: #579483;
  }
  --md-code-fg-color: #20272d;
}
